<nav>
  <i class="logo fas fa-utensils"></i>
  <ul>
    <li>
      <form class="" action="{% url 'search_results'%}" method="get">
        <label for="restaurant_search"></label>
          <span>Search:</span>
        <input type="search" name="query" id="restaurant_search value="{{ query }}" placeholder="search">
        <input type="submit" name="" value="Search">
      </form>
    </li>
    <li>
      <a class="underline" href="{% url 'restaurants_list' %}">All restaurants</a>
    </li>
    <li>
      <a class="underline" href="{% url 'categories_list' %}">Browse by cuisine</a>
    </li>
      {% if request.user.is_authenticated %}
        <li>
          <a class="underline" href="{% url 'user_profile' %}">My Profile</a>
        </li>
        <li>
          <a class="underline"  href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li>
          <a class="underline"  href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a class="underline"  href="{% url 'signup' %}">Sign up</a>
        </li>
      {% endif %}
  </ul>
</nav>
